/* colors------------------------------------------- */
/* #ffb4a2 */
/* main-------------------------------------------- */
.main__blog {
    background: url(images/fondo-5.jpg) ;
}
.main__blog-header {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    padding: 1em;
}
.main__a {
    color: #fff;
    margin: .2em 1.8em 0 1.8em ;
    font-size: 2em;
}
.main__a:hover {
    color: yellow;
}
.main__title-container {
    width: 100%;
    align-self: stretch;
}
/* blog---------------------- */
.blog {
    max-width: 1150px;
    max-height: 100%;
    background: #ffbcbc;
    padding: 2em;
    column-gap: 1.5em;
    border-radius: .5em;
    overflow: hidden;
}
.blog__image {
    overflow: hidden;
    height: 70%;
}
.recent__image {
    overflow: hidden;
}
.recent__image img{
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog__info {
    background: #ffb4a2 ;
    color: #000;
    padding: 1em 3em;
    overflow: hidden;
}
/* recent */
.recent {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: 1fr;
    margin: 4em auto;
}
/* blogs------------------------------- */
.blogs {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 1em;
    column-gap: 1em;
}
.blogs__grid {
    display: grid;
    /* border: 3px solid #000; */
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 20em;
    gap: 1em;
    /* padding: .5em; */
} 
.blogs__article {
    border: 3px solid #000;
    font-size: 10px;
    height: 100%;
}
.advertising {
    border: 3px solid #000;
}