/* ---------Estilos generales a toda la pagina--------- */
body {
  display: flex;
  flex-direction: column;
  background-color: #a59900;
  background-image: linear-gradient(90deg, #a59900 0%, #f1fa70 50%, #aaaf00 100%);  
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: .7rem;
  background-color: #171717;
}
body::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 1rem;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  padding: 0%;
  margin: 0%;
  width: 100%;
}
/* ------------------Header----------------------------- */
.header {
  display: flex;
  width: 100%;
  margin: 0%;
  position: sticky;
  background: #171717;
  height: 9vh;
  color: white;
  justify-content: space-between;
  align-items: center;
  top: 0;
  /* z-index: 100; */
}
.header__logo {
  /* display: inline; */
  width: 25vh;
  margin-left: 5em;
}
.header__ul {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 270px;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: space-between; */
  color: white;
  text-align: center;
  line-height: 5vh;
  margin-right: 5em;
  transition: border 1s;
}
.header__li:hover {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  align-items: center;
  color: #ffee00;
  /* cursor: pointer; */
}
.header__link {
  color: inherit;
  line-height: 5vh;
}
.fa-bars {
  display: none;
}
/* ----------------Estilos del main----------------- */
.main {
  display: block;
  background-image: url(images/fondo-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 91vh;
  width: 100%;
}
.main__transparent {
  height: inherit;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.main__title {
  margin: auto;
  width: 70%;
  font-size: 9em;
  color: white;
}
/* ----------------Estilos de la grilla----------------- */
.grid {
  display: grid;
  margin: 6rem 10%;
  gap: 1em;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(3, 3fr);
  /* grid-auto-rows: auto; */
  text-align: center;
}
.container__section {
  border-radius: 1.5rem;
}
.card {
  padding: 10px;
  border-radius: 1.5rem;
  background-color: #ffffff;
  border: .15rem solid black;
  max-height: 12rem;
}
.grid__link-card:hover {
  box-shadow: 1.5vh 1.5vh 10px 0px black;
  font-size: 1.1em;
  background-position: right center;
}
.card__image {
  height: 100px;
}
.card__add {
  background-image: url(images/add.png);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  border: .2rem dashed #171717;
  min-height: 192px;
  cursor: pointer;
}
.card__add:hover {
  background-size: 125px;
  border-width: .3rem;
}
/* -----------------------Team--------------------- */
.team {
  height: auto;
  display: block;
  text-align: center;
  min-height: 75vh;
}
.title-section {
  text-align: left;
  font-size: 3em;
  margin: 0;
  background-color: #171717;
  line-height: 2;
  color: white;
  padding-left: 1em;
}
.team__section {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3em 0;
  column-gap: 1em;
}
.team__card {
  height: auto;
  border-radius: 1em;
  border: 2px solid black;
  padding: 1em;
  /* background: #f1fa70; */
  background: #ffffff;
}
.team__card:hover {
  box-shadow: 1vh 1vh 10px 0px black;
  background-position: right center;
  font-size: 1.05em;
}
.team__photo {
  padding-bottom: 2em;
}
.fa-user {
  font-size: 7em;
}
.team__name {
  font-size: 1.1em;
  font-weight: bold;
}
/* -------------------------Footer---------------------- */
.footer {
  width: 100%;
  margin: 0%;
  padding: .5rem 0;
  background-color: #464646;
  background-image: linear-gradient(90deg, #464646 0%, #141113 100%);  
  height: 10%;
  color: white;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__ul {
  bottom: 0;
  margin: 0%;
  list-style: none;
  display: inline-block;
}
.footer__li {
  padding: .5rem 0;
}
.footer__image {
  width: 2rem;
  margin: 0%;
}
.footer__contribution {
  display: inline-block;
  max-width: 50%;
  padding: 0 10%;
  text-align: right;
}
.footer__button {
  font-size: 1.2em;
  padding: .3em 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.footer__button:hover {
  font-size: 1.3em;
  margin-right: -5px;
  background-color: #48e;
}
.footer__button:focus {
  outline: none;
  background-color: #26c;
}
/* ----------------- Estilos de la descripcion ----------- */
.description {
  display: flex;
  margin: 5% 10%;
  padding: 30px;
  border: 3px solid black;
  background: #fff;
  font-size: 1.2em;
  justify-content: space-between;
  border-radius: 5px;
}
.description__card {
  width: 67%;
  text-align: justify;
  background: #eeeeee;
  border-radius: 10px;
}
.description__card h3 {
  margin: 0;
  padding: 5px 20px;
  background: black;
  color: white;
  line-height: 2;
  border-radius: 10px;
  font-size: 1.5em;
}
.description__text {
  padding: 30px;
  margin: 0;
}
.description__image {
  width: 30%;
  object-fit: contain;
  padding: 20px;
}
/* -----------------Estilos de la sintaxis--------------- */
.subtheme {
  display: grid;
  margin: 6rem 10%;
  gap: 1em;
  grid-template-columns: repeat(3, 3fr);
  grid-auto-rows: auto;
  text-align: center;
}
.subtheme__card {
  max-height: 64px;
  border: 3px solid black;
  transition: all 1.5s, box-shadow .4s;
  overflow: hidden;
}
.subtheme__card:hover{
  box-shadow: 1.5vh 1.5vh 10px 0px #171717;
  max-height: 800px;
}
.subtheme__card:hover h3 {
  margin: 0;
  line-height: 64px;
  color: white;
  background: #171717;
  font-size: 1.5em;
}
.subtheme__comands h4{
  margin: 0;
  background: white;
  font-size: 1.2em;
}
/* -----------------Responsive-Tablet--------------- */
@media screen and (max-width: 900px){
  .grid {
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: auto;
    margin: 2em auto;
  }
  .container__section {
    width: 90%;
  }
  .header__logo {
    margin-left: 1em;
  }
  .header__ul {
    margin-right: 1em;
  }
  .main__title {
    font-size: 6em;
  }
  .team__section {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  .subtheme {
    grid-template-columns: repeat(2, 2fr);
  }
  .description {
    display: block;
    width: 90%;
    margin: 5% auto;
    padding: 20px 0;
    font-size: 1.1em;
  }
  .description__card {
    margin: 0 auto;
    width: 90%;
  }
  .description__image {
    display: none;
  }
}
/* -----------------Responsive-Mobile--------------- */
@media screen and (max-width: 500px){
  .fa-bars {
    box-sizing: border-box;
    display: block;
    /* margin-right: 1em; */
    font-size: 1.6em;
    cursor: pointer;
    /* border: 1px solid red; */
    line-height: 8vh;
    padding: 0 3vh;
  }
  .fa-bars:hover {
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
  }
  .header__ul{
    display: block;
    width: 100%;
    position: absolute;
    background: #171717;
    left: 0;
    top: -100vw;
    transition: top .8s, color 1s;
    z-index: 0;
    color: #171717;
  }
  .header__nav:hover .header__ul {
    display: block;
    top: 9vh;
    color: #fff;
  }
  .header__li {
    line-height: 3em;
    font-size: 1.5em;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7 7fr);
    width: 80%;
    gap: 2em;
    margin: 4hem auto;
  }
  .header {
    justify-content: space-between;
  }
  .header__logo {
    padding-left: .5em;
  }
  .main__title {
    font-size: 4em;
  }
  .card {
    min-height: 38vh;
    overflow: hidden;
  }
  .card__image {
    height: 9em;
  }
  .card__subtitle {
    font-size: 2.5em;
    margin: 10px 0 20px;
  }
  .team__section {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .title-section {
    text-align: center;
    font-size: 2.6em;
    margin: 0;
    background-color: #171717;
    line-height: 2;
    color: white;
    padding: 0;
  }
  .contribution {
    width: 70%;
  }
/* --------------------Sintaxis Responsive-------------------------- */
  .subtheme {
    grid-template-columns: repeat(1, 1fr);
  }
  .description {
    display: block;
    width: 90%;
    margin: 5% auto;
    padding: 20px 0;
    font-size: 1.1em;
  }
  .description__card {
    margin: 0 auto;
    width: 90%;
  }
  .description__image {
    display: none;
  }
}