/* ---------Estilos generales a toda la pagina--------- */
body {
  display: flex;
  flex-direction: column;
  background: #0e9aa7;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #cf3476;
}

.container {
  padding: 0%;
  margin: 0%;
  width: 100%;
  text-align: center;
}

/* ------------------Header----------------------------- */

.header__title {
  font-size: 3.5em;
}

/* ----------------Estilos de la grilla----------------- */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(2, 2fr);
  /* gap: 1em; */
  gap: 1%;
  /* grid-column-gap: 1em 1em 1em; */
  text-align: center;
  /* padding: 5px; */
}

div a:hover {
  box-shadow: 5px 1px 8px 5px #cf3476;
  
}

div a {
  padding: 10px;
  background-color: #3da4ab;
  border: 1px solid #cf3476;
  /* padding: 5px; */
}


/* -----------------Estilos de la sintaxis--------------- */
.comandos {
  color: #a76727;
  font-size: 1.2rem;
}