/* ---------Estilos generales a toda la pagina--------- */
body {
  display: flex;
  flex-direction: column;
  background: #0e9aa7;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  padding: 0%;
  margin: 0%;
  width: 100%;
}
/* ------------------Header----------------------------- */
.header {
  width: 100%;
  margin: 0%;
  background-color: #171717;
  height: 10%;
  color: white;
}

.header__title {
  display: flex;
  margin: 0px;
  padding: 0 2rem;
  font-size: 3.5rem;
  min-height: 120px;
  align-items: center;
  /* justify-content: ; */
  /* justify-content: center; */
}

/* -------------------------Footer---------------------- */
.footer{
  width: 100%;
  margin: 0%;
  padding: 1rem 0;
  background-color: #171717c4;
  height: 10%;
  color: white;
  text-align: left;
}

.footer__ul {
  margin: 0%;
  list-style: none;
  /* padding: 1rem 0; */
}

.footer__li {
  padding: .5rem 0;
}

.footer__image {
  width: 2rem;
  margin: 0%;
}


/* ----------------Estilos de la grilla----------------- */
.grid {
  display: grid;
  margin: 6rem 10%;
  gap: 1em;
  grid-template-columns: repeat(3, 3fr);
  grid-auto-rows: auto;
  text-align: center;
}

.container__section {
  
}

.card {
  padding: 10px;
  border-radius: 1.5rem;
  background-color: #3da4ab;
  border: 1px solid #cf3476;
  max-height: 12rem;
}

.grid__link-card:hover {
  box-shadow: 5px 1px 8px 5px #cf3476;
  color: #cf3476;
}

.card__add {
  background-image: url(Imagenes/add.png);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  border: .2rem dashed #171717;
}

.card__add:hover {
  background-size: 125px;
  border-width: .3rem;
}
/* -----------------Estilos de la sintaxis--------------- */
.comandos {
  color: #a76727;
  font-size: 1.2rem;
}